#featured{ 
	width:946px; 
	position:relative; 
	border:2px solid #CCCCCC; 
	height:248px; 
	background:#fff;
  margin-bottom:15px;
}
#featured ul.ui-tabs-nav{ 
	position:absolute; 
	top:0; left:696px; 
	list-style:none; 
	padding:0; margin:0; 
	width:250px; 
}
#featured ul.ui-tabs-nav li img{ 
	float:left; 
  margin:6px 5px 6px 5px; 
	background:#fff; 
}
#featured ul.ui-tabs-nav li span{ 
	font-size:12px;
	line-height:18px; 
}
#featured li.ui-tabs-nav-item a{ 
	display:block; 
	height:62px; 
	color:#565656;
  text-decoration: none;
  background:#fff; 
	line-height:20px;
}
#featured li.ui-tabs-nav-item a:hover{ 
	background:#f2f2f2; 
}
#featured ul.ui-tabs-nav li.ui-tabs-selected a{ 
	background:#ccc; 
}
#featured .ui-tabs-panel{ 
	width:696px; height:248px; 
	background:#CCCCCC; position:relative;
}
#featured .ui-tabs-panel .info{ 
	position:absolute; 
	top:178px; left:0; 
	height:70px; 
	background: url('../images/transparent-bg.png'); 
  width:696px;
}
#featured .info h2{ 
	font-size:18px;
	color:#fff; padding:5px; margin:0;
	overflow:hidden; 
}
#featured .info p{ 
	margin:0 5px; 
  font-size:12px; 
	line-height:15px; color:#f0f0f0;
}
#featured .info a{ 
	text-decoration:none; 
	color:#fff; 
}
#featured .ui-tabs-hide{ 
	display:none; 
}